<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AssistedTWOone</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetHandler</display-name>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>com.getpost.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/GetHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostHandler</display-name>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>com.getpost.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/PostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkingOnServlet</display-name>
    <servlet-name>WorkingOnServlet</servlet-name>
    <servlet-class>com.assistedoractice.question2.WorkingOnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkingOnServlet</servlet-name>
    <url-pattern>/WorkingOnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.assistedpractice.question3.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkingOnQuestion4</display-name>
    <servlet-name>WorkingOnQuestion4</servlet-name>
    <servlet-class>com.assistedpractice.question4.WorkingOnQuestion4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkingOnQuestion4</servlet-name>
    <url-pattern>/WorkingOnQuestion4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceDemo</display-name>
    <servlet-name>InterfaceDemo</servlet-name>
    <servlet-class>com.assistedpractice.question4.InterfaceDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceDemo</servlet-name>
    <url-pattern>/InterfaceDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountProfile</display-name>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>com.assistedpractice.question5.AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/AccountProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDashboard</display-name>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>com.assistedpractice.question5.AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/AccountDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPage</display-name>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>com.assistedpractice.question5.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/InfoPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFilte</display-name>
    <servlet-name>LoginFilte</servlet-name>
    <servlet-class>com.assistedpractice.question5.LoginFilte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFilte</servlet-name>
    <url-pattern>/LoginFilte</url-pattern>
  </servlet-mapping>
</web-app>